body {
  background-image: url(https://media.giphy.com/media/AOSwwqVjNZlDO/giphy.gif);
  color: springgreen;
  text-align: center;
}

div,
header,
nav,
main,
footer {
  border: 2px green solid;
  padding: auto;
  margin: auto;
  width: 750px;
}

a:link {
  color: darkgreen;
}

a:hover {
  color: palegreen;
}

a:active {
  color: springgreen;
}

a:visited {
  color: darkgreen;
}

#index {
  padding: auto;
  margin: auto;
}

header {
  background-color: black;
  width: 750px;
  height: 150px;
}

footer {
  background-color: black;
  width: 750px;
  height: 50px;
}

nav {
  background-color: black;
  width: 750px;
  height: 50px;
}

main {
  background-color: black;
  width: 750px;
  height: 500px;
}

footer:hover {
  color: red;
}

#h1:hover {
  color: blue;
}

#h3:hover {
  color: green;
}

#h4:hover {
  color: red;
}

#img1 {
  border: 2px solid green;
}

#img1:hover {
  border: 4px dotted green;
}

#gra1 {
  float: left;
  width: 400px;
  height: 400px;
}

#indexg {
  width: 805px;
  height: 500px;
}

.indexg {
  width: 805px;
}

li {
  text-align: left;
}

#indexe {
  padding: auto;
  margin: auto;
  overflow-y: scroll;
}
