body {
  background-color: black;
  color: springgreen;
  text-align: center;
}

div,
header,
nav,
main,
footer {
  border: 2px green solid;
  padding: auto;
  margin: auto;
  width: 750px;
}

a:link {
  color: darkgreen;
}

a:hover {
  color: palegreen;
}

a:active {
  color: springgreen;
}

a:visited {
  color: darkgreen;
}

#index {
  padding: auto;
  margin: auto;
}

header {
  width: 750px;
  height: 150px;
}

footer {
  width: 750px;
  height: 50px;
}

nav {
  width: 750px;
  height: 50px;
}

main {
  width: 750px;
  height: 500px;
}
